.card-container {
  min-width: 300px;
  max-width: 300px;
  width: 100%;
  margin: 16px 16px;
  padding: 16px;
  min-height: 400px;
}
@media screen and (max-width: 360px) {
  .card-container {
    max-width: 100%;
    min-width: 100%;
    width: auto;
  }
}

.card-container-inner {
  display: flex;
  flex-direction: column;
  height: 80%;
}
